.formulario {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50vh;
    justify-content: space-evenly;
    margin-top: 5%;
}

input {
    height: 50%;
    width: 30%;
    border: none;
    border-bottom: 2px solid #A6ACAF;
    padding: 1% 1%;
    margin: 2%;
}

.contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.button {
    background-color: #5DADE2;
    border: none;
    text-decoration: none;
    color: white;
    padding: 1%;
    margin: 2%;
    margin-top: 4%;
}

.pag {
    display: flex;
    flex-direction: row;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #5DADE2;
    height: 100vh;
    color: white;
    margin: 0;


}

.titulo {
    margin-bottom: 20%;
}

* {
    margin: 0;
    padding: 0;
}

.titulo2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}